/T9_Noviembre/
/.idea/
/Peatonales/
GUI_V0.py
bordes.csv
test.csv
/Dual/
/G3_Test/
GUI/zones.html
*.pyc
/GUI/__pycache__/
GUI/__pycache__/app.cpython-38.pyc
*.pyc
GUI/__pycache__/layouts.cpython-38.pyc
GUI/__pycache__/app.cpython-38.pyc
GUI/Example.html
GUI/zones.html
GUI/Example.html
GUI/__pycache__/layouts.cpython-38.pyc
GUI/__pycache__/app.cpython-38.pyc
GUI/zones.html
